body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #1999D6;
}
a {
    color:white;
}
a:hover, a:focus, a:active {
    color:white;
    text-decoration: underline;
}

h2 {
    color:white;
}

.footer .container .row {
    padding-bottom:8px;
}

.footer {
    margin-top:15px;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #27245E;

}

.panel-default {
    margin-bottom:15px;
}

 #email-input {
    margin-bottom: -10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid #ccc;
}

#pass {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-control {
    outline: 0;
    background-color: #fff;
    background-image: none !important;
    border: none;
    border-radius: 4px;
    box-shadow: none !important;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    width: 100%;
}

.navbar-default {
    background-color:#27245E;
    border-color:#27245E;
    position:absolute;
}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

.navbar-default .navbar-nav > li > a:hover {
    color: #1999D6; /*Change active text color here*/
}

.text-muted {
    color:white;
}

#volunteer-program {
    margin-bottom:15px;
}

.btn-success, .btn-success:active, .btn-success:focus {
    -moz-user-select: none;
    background-image: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #27245E!important;
    border-color: #27245E !important;
    color: #fff;
    width: 100%;
}

.btn-success:active {
    background-color: #27245E;
    border-color: #27245E;
    color: #fff;
    width: 100%;
}

.btn-success:hover {
    background-color: #35365e;
    border-color: #27245E;
    color: #fff;
    width: 100%;
}

/* Panel Styles */
.panel-default {
    border-radius:3px;
    margin-top:20px;
}

.panel-heading {
    background-color: #f5f5f5;
    border-bottom: 1px solid #E6EAEC;
    padding: 15px 25px;
    font-size: 12px;
    font-weight: 700;
    color: #7E878C;
}
