html{
    display: inline-block;
    background-size: 100%;
    -webkit-box-shadow: inset 0px -60px 126px -11px rgba(0,0,0,0.33);
    -moz-box-shadow: inset 0px -60px 126px -11px rgba(0,0,0,0.33);
    box-shadow: inset 0px -60px 126px -11px rgba(0,0,0,0.33);
    height: 100%;
    width: 100%;
}

.col-sm-4{
    align-items: center;
    vertical-align: middle;
    top: 50% !important;
}

.col-sm-8{
    vertical-align: middle;
    align-items: center;
    top: 50% !important;
}


body{
    background-color: #b3d4e0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

body{
    margin: 0;
}


.styleSignIn{
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    float: left;
    width: 200px;
    height: 300px;
    display: inline-block;
}

.staffStyle{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

.styleBox{
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    float: left;
    padding: 15px 32px;
    vertical-align: middle;
    horiz-align: center;
    margin-left: 4px;
    display: inline-block;
    width: 600px;
    height: 300px;
}

.staffLogin{
    background-color: #8c8c8c;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none; !important;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    width: 100px;
    height: 300px
}


* {
    box-sizing: border-box;
}

.button {
    background-color: #ABAFB4;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 28px;
    float: right !important;
    position: fixed;
    top: 0px;
    right: 5px;
}

.buttonDef {
    background-color: #ABAFB4;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    padding: 15px 32px;
    align-content: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button2{
    align-content: center !important;
    border-radius: 8px;
}

.button2:hover{
    -webkit-box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonStaff {
    background-color: #ABAFB4;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 50px;
    align-content: center;
}


a {
    color:white;
}
a:hover, a:focus, a:active {
    color:white;
    text-decoration: underline;
}

h2 {
    color:white;
}

#email-input {
    margin-bottom: -10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid #ccc;
}

#pass {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-control {
    outline: 0;
    background-color: #fff;
    background-image: none !important;
    border: none;
    border-radius: 4px;
    box-shadow: none !important;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    width: 185%;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #27245E!important;
    border-color: #27245E !important;
    color: #fff;
    width: 100%;
}

.btn-success:active {
    background-color: #27245E;
    border-color: #27245E;
    color: #fff;
    width: 100%;
}


/* Panel Styles */
.panel-default {
    border-radius:3px;
    margin-top:20px;
}
.panel-heading {
    background-color: #f5f5f5;
    border-bottom: 1px solid #E6EAEC;
    padding: 15px 25px;
    font-size: 12px;
    font-weight: 700;
    color: #7E878C;
}